/* .container-fluid{
    margin: 0px 0px;
    width: 100%;
    padding: 0px 0px;
    display: flex; 
    flex-flow: column;
    /* z-index:-1 ; */
    /* border-radius: 0.3rem; */
/* }  */

.rempad{
    padding: 0 0;
}
.titleBold {
    font-weight: 600;
}
.pageTitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    /* padding-top: 50px; */
}

.pageOverlay .miniSep {
    background-color: white;
}

.miniSep {
    width: 80px;
    height: 8px;
    border-radius: 4px;
    background-color: wheat;
    /* padding-bottom: 10px; */
    /* background-color: #3500d3; */
    margin: auto;
    /* margin-top: 15px; */
}

.leftText {
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: auto;
    margin-top: 20px;
}
.pageTextCont {
    width: 80%;
    margin: auto;
    padding: 20px 5px 40px 5px;
    /* margin-top: 50px; */
    line-height: 24px;
}

div {
    display: block;
}

.pages {
    /* height: 80vh; */
    width: 100%;
    margin: 0vh 0vw;

    /* background-image: url('https://unsplash.it/600/600'); */
    background-size: cover;
    padding-bottom: 0px;

    background-color: #eee;
    background-position: center;
    /* background-size: cover; */
    
    animation: image 3s ease-in-out infinite alternate;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 80px;
    color: white;
    background-color: rgba(0,0,0,0.7);
}


  
  @keyframes image {
    0% {
      background-image: url('https://unsplash.it/600/600');
    }
    50% {
        background-image: url('https://unsplash.it/602/602');
      }
    100% {
      background-image: url('https://unsplash.it/601/601');
    }
  }

@media (min-width: 576px){
.jumbotron {
    padding: 2rem 2rem;
}
}