/* STRUCTURE */
/* body {margin: 0; padding-top: 10vh;}  */
/*Le P-top si header en position fixed/absolu*/

@import url('https://fonts.googleapis.com/css?family=Caveat|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
body * {box-sizing: border-box;}

/* CUSTOM */
img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box
}
/* GRID */
.grid {
    padding: 0 8vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);/*Hauteur des lignes*/
    grid-gap: 20px;
    width: 100%;
}

/* div {
    display: block;
} */

.pagesg {
    height: 40vh;
    width: 100%;
    margin: 0vh 0vw;

    /* background-image: url('https://unsplash.it/600/600'); */
    background-size: cover;
    padding-bottom: 0px;

    background-color: #eee;
    background-position: center;
    /* background-size: cover; */
    
    animation: image 3s ease-in-out infinite alternate;
  }

  .overlayg {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 80px;
    color: white;
    background-color: rgba(0,0,0,0.7);
}

.titleBoldg {
    font-weight: 600;
}
.pageTitleg {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    padding-top: 2em;
}

/* GALLERY */

.galery{
    grid-column: 1 / 13;
    margin-bottom: 5vh;
}

.galery .grid{
    grid-template-rows: repeat(5, 30vw);
    padding: 0;
}

.h1 {
    font-family:  'Audiowide', 'El Messiri', 'Righteous',  sans-serif;
    letter-spacing: 7px;
    text-shadow: 2px 2px 2px rgb(250, 110, 110);
    grid-column: 1 / 13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 5vh 0;
}

.item1,.item2,.item3 {grid-row: 1 ;}
.item4,.item5,.item6 {grid-row: 2 ;}
.item7,.item8,.item9 {grid-row: 3 ;}
.item10,.item11,.item12 {grid-row: 4 ;}
.item13,.item14,.item15 {grid-row: 5 ;}

.item1,.item4,.item7,.item10,.item13 {grid-column: 1 / 5;}
.item2,.item5,.item8,.item11,.item14 {grid-column: 5 / 9;}
.item3,.item6,.item9,.item12,.item15 {grid-column: 9 / 13;}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}


@media screen and (max-width:619px) 
{
	    /* GALLERY */
    .galery .grid {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(5, 50vh);
    }
    
    .item1 {grid-row: 1 ;}
    .item2 {grid-row: 2 ;}
    .item3 {grid-row: 3 ;}
    .item4 {grid-row: 4 ;}
    .item5 {grid-row: 5 ;}
    .item6 {grid-row: 6 ;}
    .item7 {grid-row: 7 ;}
    .item8 {grid-row: 8 ;}
    .item9 {grid-row: 9 ;}
    .item10 {grid-row: 10 ;}
    .item11 {grid-row: 11 ;}
    .item12 {grid-row: 12 ;}
    .item13 {grid-row: 13 ;}
    .item14 {grid-row: 14 ;}
    .item15 {grid-row: 15 ;}
    
    .item1,.item4,.item7,.item10,.item13,.item2,.item5,.item8,.item11,.item14,.item3,.item6,.item9,.item12,.item15 {grid-column: 1;}
}
    

.glow {
    /* font-size: 70px; */
    /* color: #ffffff; */
    /* text-align: center; */
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #eec4c4, 0 0 5px #eeb2b2, 
                   0 0 5px #ec6464, 0 0 5px #ff1d1d, 0 0 5px #441515;
    }
    to {
      text-shadow: 0 0 5px #eeeeee, 0 0 5px #e7e4fc, 0 0 5px #a4b5fd, 0 0 5px #3b8df8, 
                   0 0 5px #4057ca, 0 0 5px #1500d1, 0 0 5px #010f61;
    }
  }