.container-fluid{
    margin: 0px 0px;
    width: 100%;
    padding: 0px 0px;
    display: flex; 
    flex-flow: column;
    /* z-index:-1 ; */
    /* border-radius: 0.3rem; */
}

.rempad{
    padding: 0 0;
}

.frame {
    height: 60vh;
    width: 100vw;
    margin: 0vh 0vw;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    
    animation: image 3s infinite alternate;
  }
  
  @keyframes image {
    0% {
      background-image: url('https://unsplash.it/600/600');
    }
    50% {
        background-image: url('https://unsplash.it/602/602');
      }
    100% {
      background-image: url('https://unsplash.it/601/601');
    }
  }