body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background: linear-gradient(89deg, rgb(224, 10, 3) 0%, rgb(21, 24, 24) 100%);
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
