.container-fluid{
    margin: 0px 0px;
    width: 100%;
    padding: 0px 0px;
    display: flex; 
    flex-flow: column;
}

.rempad{
    padding: 0 0;
}

.landing {
    height: 90vh;
    width: 100%;
    margin: 0vh 0vw;
    background:linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,.4)), url(http://localhost:5000/images/utils/dronepic.jpg) center center no-repeat;
    background-size: cover;
    margin: 0vh 0vw;
    /* background-color: #eee; */
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
    color: white;
    text-shadow: 5px 2px 2px rgb(75, 0, 0);
  }

.landing-logo{
  position: relative;
    right: 4rem;
}

@media (max-width:1050px){
  .landing-logo{
    right: 0;
  }
  .landing-about{
    margin-top: 3rem;
    text-align: center;
  }
}
@media (max-width:992px)
{
  .landing{
    height:70vh ;
  }
}
@media (max-width:770px)
{
  .landing{
    height: 55vh;
  }
  .landing-logo{
    height: 10rem;
    width: auto;
    padding-right: 4px;
    /* margin-bottom: -rem; */
  }
  .landing-about h1{
    font-size: larger;
  }
  .landing-about h2{
    font-size: large;
    padding: 2px;
  }
}
@media (max-width:400px)
{
  .landing{
    height: 50vh;
  }
  .landing-logo{
    height: 8.5rem;
    width: auto;
    /* margin-bottom: -2rem; */
  }
  .landing-about h1{
    font-size: 1.5rem;
  }
  .landing-about h2{
    font-size: large;
  }
}
