@import url('https://fonts.googleapis.com/css?family=Caveat|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.style{
    background-color:rgb(6, 29, 104);

    padding: 0;
    /* background-color:rgba(51, 50, 50, 0.76); */
}

.top-bottom{
    /* padding : 3% 0; */
    position: sticky;
    top: 0;
    background-color: rgba(46, 46, 63, 0.952);
}

.pad{
    padding-left: 10px;
}
/* @font-face{
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.TTF'), format('TTF');
} */
.title{
    font-family: 'Audiowide', 'Righteous', cursive;
    font-weight:lighter;
    /* font-weight:bolder; */
}

.bt{
    margin-bottom: 0;
    /* align-items: center; */
    /* padding-left: 2rem; */
}

@media (max-width:992px)
{
  .bt
  {
    padding-left: 3rem;
  }
  .pad{
      padding-left: 3rem;
  }

}

@media (max-width:349px)
{
  .title{
      font-size: small;
  }
  .title span img{
      height: 2px;
      width: auto;
      margin-right: 5;
      margin-left: 8;
  }

}

/* button{
    padding-left: 2em;
} */

/* .linkhover, .linkhover:hover, .linkhover:focus, .linkhover:active{
    text-decoration: none;
      color: inherit;
} */