@import url('https://fonts.googleapis.com/css?family=Caveat|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.style{
    background-color:rgb(6, 29, 104);

    padding: 0;
    /* background-color:rgba(51, 50, 50, 0.76); */
}

#navbar{
    transition: top 0.4s ease-in-out;
}

.top-bottom{
    padding : 10px 0;
    position: sticky;
    top: 0;
    background-color: rgba(46, 46, 63, 0.952);
}

.pad{
    padding-left: 10px;
}

.title{
    font-family: 'Audiowide', 'Righteous', cursive;
    font-weight:lighter;
    margin-left: 2.7rem;
}

.bt{
    margin-bottom: 0;
}

#basic-navbar-nav{
    margin-left: 4rem;
}

.right-btn{
    margin-right: 3rem !important;
}

.nav-items{
    margin: 0px 0.7rem;
    color: white;
}

@media (max-width:992px)
{
  .bt
  {
    padding-left: 3rem;
  }
  .title{
    margin-left: 0px;
  }
}

@media (max-width:400px)
{
  .title{
      font-size: small;
  }
  .dropdown-menu.show{
    display: inline-block;
    }
}
