.container-fluid{
    margin: 0px 0px;
    width: 100%;
    padding: 0px 0px;
    /* display: flex; */
    /* flex-flow: column; */
    
}

.jumbotron{
    margin: 2px 0px;
    width: 100%;
    /* display: flex;
    flex: 0 0 100%;
    flex-flow: column; */
    height:auto
}

