.style{
    background-color: rgba(51, 50, 50, 0.76);
}

/* @font-face{
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.TTF'), format('TTF');
} */
.title{
    font-family: 'Courier New', Courier, monospace;
    /* font-weight:bolder; */
}